@import 'vars';

.landing {
  .section-form:first-child {
    padding: $pad;
    border: 1px solid $color-blue;
    margin-bottom: $pad;
  }

  .section-container {
    height: calc(100vh - 8em);
    border: 1px solid $color-blue;
    padding: $pad;

    .section {
      padding-bottom: $pad;
      margin-bottom: $pad;
    }
  }
}

@media screen and (min-width: 700px){
  .section-container {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;

    .section {
      white-space: normal;
      display: inline-block;
      width: 250px;
      height: 100%;
      margin: 0;
      margin-right: $pad;
    }
  }
}
