@import 'vars';

.header {
  h1, nav, button {
    float: left;
    height: 100%;
  }

  h1 {
    width: 20%;
  }

  nav {
    width: 70%;

    ul {
      height: 100%;
      margin: 0;
      padding: 0;

      li {
        display: block;
        float: left;
        height: 100%;
        width: 25%;

        a {
          width: 100%;
          height: 100%;
          text-align: center;
          padding: $pad;
          background: $color-primary; 
          color: $color-black; 
        }
      }
    }
  }

  button {
    width: 10%;
  }

}

