@import 'vars';

.card {
  position: relative;

  .delete {
    display: none;
    position: absolute;
    top: -2em;
    right: 0;
    float: left;
    width: 25%;
    height: 2em;
    background: red;
    
    &:hover {
      display: block;
    }
  }

  &:hover {
    p {
    }

    .delete {
      display: block;
    }
  }

  main {
    padding: $pad;
    margin-bottom: $pad;
    background: $color-pink;
  }

  p {
    display: block;
  }

  .card-form, textarea {
    border: none !important;
  }

}
