@import url('https://fonts.googleapis.com/css?family=Lato');
@import '../../node_modules/font-awesome-sass/assets/stylesheets/_font-awesome.scss';

$color-primary: #ff7a7a;
$color-black: #00000b;
$color-white: #fff;
$color-lightgrey: #aaaaab;
$color-grey: #44444b;
$color-darkgrey: #22222b;

$pad: 0.8em;

$font-primary: 'Lato', sans-serif;
