@import url('https://fonts.googleapis.com/css?family=Lato|Roboto+Mono');

$color-red: #f42;
$color-pink: #ff7a7a;
$color-blue: #77affa;
//$color-blue: blue;

$color-black: #000;
$color-darkgrey: #26262b;
$color-grey: #47474b;
$color-lightgrey: #abc;
$color-white: #fff;

$pad: 0.5em;

$font-main: 'Lato', sans-serif;
$font-mono: 'Roboto Mono', monospace;
